* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes animation-icone-voltar {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#icone {
  position: fixed;
  right: 4%;
  bottom: 20px;
  z-index: 9;
}
#icone button {
  background-color: transparent;
  border: none;
}
#icone button #icon-voltar-ao-topo {
  animation: animation-icone-voltar 3s linear infinite;
  width: 50px;
}
#icone button #icon-voltar-ao-topo:hover {
  opacity: 1;
}

#header {
  position: fixed;
  top: 0;
  font-size: 0.8em;
  color: #d53ffe;
  z-index: 999;
}
#header #nav {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  width: 100vw;
  height: 50px;
}
#header #nav h1 {
  font-size: 2em;
  padding: 0px 20px;
}
#header #nav #icon-carrinho {
  position: absolute;
  right: 50px;
  font-size: 2em;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}
#header #nav #menu {
  padding: 0;
  background-color: transparent;
  border: 20px solid transparent;
  border-left: 30px solid #d53ffe;
}
#header #nav #leftMenu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(26, 26, 26);
  position: fixed;
  top: 0;
  left: -300px;
  padding: 100px 10px;
  width: 300px;
  height: 100vh;
  transition: all 0.1s linear;
  z-index: 1;
}
#header #nav #leftMenu #logo-menu-lateral {
  position: absolute;
  top: 15px;
}
#header #nav #leftMenu a {
  font-family: arial rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 5px 10px;
}
#header #nav #leftMenu #closeMenu {
  padding: 0;
  background-color: transparent;
  border: 20px solid transparent;
  border-right: 30px solid #d53ffe;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
#header #extensao_nav {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(24, 24, 24);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.605);
  border: solid 2px #d43efe;
  border-radius: 0px 0px 30px 30px;
  overflow: hidden;
  padding: 0px 10px;
  transition: height 0.5s ease;
}
#header #extensao_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  list-style: none;
  width: 100%;
}
#header #extensao_nav.ativo {
  height: 60px;
}
#header #extensao_nav.passivo {
  transition: height 1s ease;
  height: 0px;
}

#apresentacao {
  background: black url(../src/assets/rosas-ia.jpg) top center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 0.9em;
  position: relative;
  padding: 10px 20px;
  height: 50vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#apresentacao p {
  font-weight: bold;
  max-width: 450px;
}
#apresentacao button {
  background-color: black;
  color: #d53ffe;
  border: solid 3px #d53ffe;
  position: absolute;
  bottom: 15px;
  font-weight: bold;
  padding: 10px 20px;
  transform: skew(-21deg);
  min-width: 250px;
  max-width: 450px;
}
#apresentacao button::before {
  content: "";
  background-color: #d53ffe;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0px;
  height: 100%;
  transition: 0.5s ease;
}
#apresentacao button:hover {
  color: rgb(0, 0, 0);
}
#apresentacao button:hover::before {
  z-index: -1;
  width: 100%;
}

#CardsFlutuante {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  font-size: 0.8em;
  background-color: black;
  color: white;
  padding: 30px 20px;
  min-height: 42vh;
}
#CardsFlutuante .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}
#CardsFlutuante .cards #text-card {
  font-size: 1.2em;
  font-weight: bold;
}
#CardsFlutuante #img-check {
  width: 100px;
}

@media screen and (min-width: 600px) {
  #CardsFlutuante {
    flex-direction: row;
  }
  #CardsFlutuante .cards {
    flex-direction: column;
  }
}
#destaque {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 40px 20px;
}
#destaque #text-destaques {
  margin: auto;
  max-width: 900px;
  padding: 30px 20px;
}
#destaque #cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
#destaque #cards #card-vaso-destaque {
  position: relative;
  overflow: hidden;
  color: #000000;
  border: solid 3px #d53ffe;
  border-radius: 15px;
  box-shadow: 0.1px 0.1px 10px 0.1px #d53ffe;
  width: 90%;
  max-width: 310px;
  max-height: 200px;
  height: auto;
}
#destaque #cards #card-vaso-destaque h3 {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 2;
}
#destaque #cards #card-vaso-destaque #img-vaso-destaque {
  width: 100%;
}
#destaque #cards #card-vaso-destaque .ribbons {
  position: absolute;
  right: -12px;
  top: 0;
  transform: rotate(30deg);
  width: 80px;
  z-index: 1;
}
#destaque #cards #card-vaso-destaque #comprar {
  background-color: black;
  color: #d53ffe;
  border: solid 3px #d53ffe;
  position: absolute;
  bottom: 15px;
  left: 50%;
  font-weight: bold;
  padding: 10px 20px;
  transform: skew(-21deg) translateX(-50%);
  width: 90%;
  max-width: 400px;
}
#destaque #cards #card-vaso-destaque #comprar::before {
  content: "";
  background-color: #d53ffe;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0px;
  height: 100%;
  transition: 0.5s ease;
}
#destaque #cards #card-vaso-destaque #comprar:hover {
  color: rgb(0, 0, 0);
}
#destaque #cards #card-vaso-destaque #comprar:hover::before {
  z-index: -1;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
