@import "../../../styles/colors.module.scss";

.mission {
    background-image: linear-gradient(to bottom, #151515, #151515f7), url(/Cover2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    color: $lightGray;
    min-height: 50vh;
    padding: 10px 0px;
    
    margin: 0px auto;
    width: 90%;
    max-width: 1000px;

    .subTitle {
        font-size: 1.1em;
        font-weight: bold;
        color: $lightRed;
    }

    .title {
        max-width: 800px;
        color: white;
        padding: 10px 0px 15px 0px;
        font-size: 2.5em;
    }

    
    .descrition {
        max-width: 800px;
        font-size: 1.1em;
        font-weight: bold;
        word-spacing: 1vw;
    }
}

@media screen and (max-width: 606px) {
    .mission {
        .title {
            font-size: 2em;
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 406px) {
    .mission {
        padding: 50px 0px;

        .title {
            font-size:1.7em;
        }
        .descrition {
            font-size: .9em;
        }
    }
}