#destaque {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 40px 20px;


    #text-destaques {
        margin: auto;
        max-width: 900px;
        padding: 30px 20px;
    }


    #cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    
        #card-vaso-destaque {
            background: url(/src/assets/vaso-de-rosa-venda-1.jpg) center top no-repeat;
            background-size: cover;
            position: relative;
            overflow: hidden;
            color: #000000;
            border: solid 3px #d53ffe;
            border-radius: 15px;
            box-shadow: .1px .1px 10px .1px #d53ffe;
            width: 90%;
            max-width: 400px;
            min-height: 200px;
            // max-height: 150px;
            height: auto;
    
            h3 {
                position: absolute;
                top: 10px;
                width: 100%;
                text-align: center;
                z-index: 2;
            }
    
            #img-vaso-destaque {
                width: 100%;
            }

            .ribbons {
                position: absolute;
                right: -12px;
                top: 0;
                transform: rotate(30deg);
                width: 80px;
                z-index: 1;

                &:hover {
                    
                }
            }
    
    
            // Estilo e animação do botão comprar
            #comprar {
                background-color: black;
                color: #d53ffe;
                border: solid 3px #d53ffe;
                position: absolute;
                bottom: 15px;
                left: 50%;
                letter-spacing: 1.2px;
                font-weight: bold;
                padding: 10px 20px;
                transform: skew(-21deg) translateX(-50%);
                width: 90%;
                max-width: 300px;
        
                &::before {
                    content: '';
                    background-color: #d53ffe;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
        
                    width: 0px;
                    height: 100%;
        
                    transition: .5s ease;
                }
        
                &:hover {
                    letter-spacing: 2px;
                    font-size: 1em;
                    color: rgb(0, 0, 0);
                    border-color: #000000;
                    transition: .3s ease;
                }
                &:hover::before {
                    z-index: -1;
                    width: 100%;
                }
            }
        }
    }
}