#CardsFlutuante {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: .8em;
    background-color: black;
    color: white;
    padding: 20px;
    min-height: 42vh;

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px 20px;
        text-align: center;

        #text-card {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    #img-check {
        width: 100px;
    }
}

@media screen and (min-width: 600px) {
    #CardsFlutuante {
    
        .cards {
            flex-direction: column;
        }
    }
}