@keyframes animation-icone-voltar {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
  }


#icone {
    position: fixed;
    right: 4%;
    bottom: 20px;
    z-index: 9;

    button {
        background-color: transparent;
        border: none;

        #icon-voltar-ao-topo {
            animation: animation-icone-voltar 3s linear infinite;
            width: 50px;

            &:hover {
                opacity: 1;
            }
        }
    }
}