@import "../../../styles/colors.module.scss";


.headerVitrine {
    
    
    padding: 20px 0px;

    .containerHeaderVitrine {
        margin: 0px auto;
        width: 90%;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .8s;
    }

    .logoVitrine {
        width: 180px;
    } 
    .logoNone {
        display: none;
    }

    .listaHeaderVitrine {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 4vw;

        li {
            color: $lightGray;
            font-weight: bold;
        }
    }

    .cicleUser {
        background-color: red;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        width: 45px;
        height: 45px;
        font-weight: bold;
    }
}
