@import "../../styles/colors.module.scss";

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $lightGray;
    text-align: end;
    padding: 10px 0px 50px 0px;
    
    margin: 0px auto;
    width: 90%;
    max-width: 1000px;

    .subTitle {
        font-size: 1.1em;
        font-weight: bold;
        color: $lightRed;
    }

    .title {
        color: white;
        padding: 10px 0px 15px 0px;
        font-size: 2.5em;
    }

    .descrition {
        max-width: 1000px;
        font-size: 1.1em;
        font-weight: bold;
        word-spacing: 2.5em;
        right: 0;
    }
}