* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

@import "components/1-Header/Header.scss";
@import "components/2-Apresentation/Apresentation.scss";
@import "components/3-CardFlutuante/CardsFlutuante.scss";
@import "components/4-Destaque/Destaque.scss"