.livro {
    background: #202020 url(/public/CoverLivro.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    min-height: 105vh;

    .divImgLivro {
        display: flex;
        gap: 30px;
        padding: 180px 10px 50px 10px; 
        max-width: 900px;
        width: 90vw;
        margin: auto;

        button {
            background-color: transparent;
            color: white;
            font-weight: bold;
            border-radius: 20px;
            border: solid 2px white;
            padding: 10px 40px;

            &:hover {
                scale: 1.1;
                transition: .5s;
            }
        }

        .imgLivro {
            width: 95%;
            max-width: 350px;
            border-radius: 30px;
        }
    }
}